.head-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Adjust as needed */
}

.video-container {
  position: relative;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.center-text {
  margin-bottom: 50px;
}

.btn-hero {
  /* Clean style */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  color: var(--button-text-color);
  cursor: pointer;
  /* Clean style */

  --button-text-color: var(--background-color);
  --button-text-color-hover: var(--button-background-color);
  --border-color: #ffffff;
  --button-background-color: #ff4655;
  --highlight-color: #ece8e1;
  --button-inner-border-color: transparent;
  --button-bits-color: var(--background-color);

  position: relative;
  padding: 8px;
  margin-top: 5cm;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.15s ease;
}

.btn-hero::before,
.btn-hero::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid var(--border-color);
  transition: all 0.15s ease;
}

.btn-hero::before {
  top: 0;
  border-bottom-width: 0;
}

.btn-hero::after {
  bottom: 0;
  border-top-width: 0;
}

.btn-hero:active,
.btn-hero:focus {
  outline: none;
}

.btn-hero:active::before,
.btn-hero:active::after {
  right: 3px;
  left: 3px;
}

.btn-hero:active::before {
  top: 3px;
}

.btn-hero:active::after {
  bottom: 3px;
}

.btn-hero__inner {
  position: relative;
  display: block;
  padding: 20px 30px; /* Initial padding values */
  background-color: var(--button-background-color);
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px var(--button-inner-border-color);
  transition: all 0.15s ease;
}

.btn-hero:hover .btn-hero__inner {
  padding: 25px 35px; /* Updated padding values on hover */
}

.btn-hero__inner::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: var(--button-bits-color);
}

.btn-hero__inner::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: var(--button-bits-color);
  transition: all 0.2s ease;
}

.btn-hero__slide {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: var(--highlight-color);
  transform: skew(-15deg);
  transition: all 0.2s ease;
}

.btn-hero__content {
  position: relative;
}

.btn-hero:hover {
  color: var(--button-text-color-hover);
}

.btn-hero:hover .btn-hero__slide {
  width: calc(100% + 15px);
}

.btn-hero:hover .btn-hero__inner::after {
  width: calc(100% + 15px);
  background-color: var(--button-bits-color-hover);
}

.btn-hero--light {
  --button-background-color: var(--background-color);
  --button-text-color: var(--highlight-color);
  --button-inner-border-color: var(--highlight-color);
  --button-text-color-hover: #ece8e1;
  --button-bits-color-hover: #ece8e1;
}
